**/*.map
**/tslint.json
.DS_Store
.editorconfig
.eslintignore
.eslintrc.json
.git/
.github/
.gitignore
.vscode/
.vscodeignore
tsconfig.json
*.vsix
tests/
src/
out/
node_modules/
!node_modules/jsonc-parser/
!node_modules/node-graphviz/
